
.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

.messagesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .chatContainer {
    padding: 5px;
  }
}


/* .chatContainer {
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    background-color: #dcccbd;
  }
  
  .roomAndUsersColumn {
    border-right: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 2px;
    background-color:#dcccbd;
  }
  .roomTitle {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 2rem;
    color: black;
  }
  .usersTitle {
    font-size: 1.2rem;
    color: black;
  }
  .usersList {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 60px;
    color: #b14c32;
  }
  .usersList li {
    margin-bottom: 12px;
    border:10px solid;
    padding: 2px;
  }

  .messagesColumn {
    height: 80vh;
    width: 100vw;
    overflow: auto;
    padding: 10px 10px 10px 40px;
    background-color:#d4996f;
  }
  .message {
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 24px;
    max-width: 600px;
    padding: 12px;
  }
  .msgMeta {
    color: brown;
    font-size: 0.75rem;
  }
  .msgText {
    color: black;
  }

  .sendMessageContainer {
    display: flex;
    flex-direction: row;
    padding: 16px 20px 20px 16px;
  }
  .messageInput {
    padding: 14px;
    margin-right: 16px;
    width: 70%;
    border-radius: 6px;
    border: 1px solid rgb(153, 217, 234);
    font-size: 0.9rem;
  }
  .sendMessageContainer button{
    padding: 14px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
  }
   */