.main{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(30%);
    display: flex;
    flex-direction: column;
    object-fit:contain;
    height: 100%;
}
.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 12vh;
    width: 100vw;
}
.bookinput{
    margin: 3vh .5vw;
    width: 35vw;
    height: 6vh;
    border-radius: 25px;
}
.src-icon{
    width: 3.5vw;
    margin: 2vh 0px;
}

.outer-container{
    height: 80vh;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 2fr;
    row-gap: 12px;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
}


@media (max-width:768px){
    .main{
        background-image: none;
        background-color: rgb(185, 218, 230);
    }
    .bookinput{
        margin: 3vh .5vw;
        width: 60vw;
        height: 6vh;
        border-radius: 25px;
    }
    .outer-container{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }
    .src-icon{
        width: 2.8em;
    }
}
