/* Container and Logo Styling */
.navbar-container {
  width: 100vw;
  height: fit-content;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
  z-index: 10;
  padding: 10px;
}

.navbar-logo {
  margin-left: 16vw;
  font-size: 1.8em;
  font-weight: bold;
}

/* Regular Nav Links for Larger Screens */
.navbar-pages {
  display: flex;
  margin-right: 6vw;
  flex-direction: row;
  justify-content: space-around;
  transition: max-height 0.3s ease-in-out;
}

.navbar-pages a {
  margin: 0px 10px;
  color: white;
  font-size: 1.1em;
  text-decoration: none;
}

/* Hide the hamburger icon and display normal links on larger screens */
@media (min-width: 769px) {
  .hamburger-lines {
    display: none;
  }

  .navbar-pages {
    display: flex;
  }
}

/* Hamburger Menu for Small Screens */
.hamburger-lines {
  display: none;
}

/* Slide-in Menu for Small Screens */

.navbar-open.navbar-pages {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/* Show hamburger for small screens */
@media (max-width: 768px) {
  .hamburger-lines {
    display: flex;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 102;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines.open .line1 {
    transform: rotate(45deg);
  }

  .hamburger-lines.open .line2 {
    transform: scaleY(0);
  }

  .hamburger-lines.open .line3 {
    transform: rotate(-45deg);
  }
  .navbar-open {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
  }

  .navbar-pages {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
    margin-right: 0vw;
  }

  .navbar-pages a {
    display: block;
    font-size: 1.5em;
    margin: 20px 0;
  }

  .navbar-pages.navbar-open {
    transform: translateX(0);
  }
}
