
.card-container{
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 25px;
    width: 270px;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.card-container>img{
    margin-top: 12px;
    width: 150px;
    object-fit: contain;
}
.card-title{
    text-align: center;
    font-weight: bold;
    color: white;
}
.card-author{
    color: white;
}


@media (max-width:480px){
    .card-container{
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 25px;
    width: 45vw;
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    }
    .card-container>img{
    margin: 1em 0em;
    width: 8em;
    object-fit: contain;
    }
}