.login-container {
    max-width: 400px;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.act-button{
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.act-button {
    width: 45%;
    background-color: #007bff;
    color: #fff;
}

.act-button:hover {
    background-color: #218838;
}

.error-pop{
    color: red;
    font-size: 2vw;
}